<!DOCTYPE html>
<html lang="en">

<head>
    <title>CYTV Admin Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="icon" href="../images/icon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/bootstrap-responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/supersized.core.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <link rel="stylesheet" href="../css/switch.css" type="text/css" media="screen">
    <script src="../js/backend.js"></script>
    <script src="../js/home.js"></script>
</head>

<body class="subpage">
    <div id="overlay">
        <div id="progstat"></div>
        <div id="progress"></div>
        
    </div>

    <div id="main">
        {include file="../templates/header.tpl"}
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="thumb9">
                            <div class="thumbnail clearfix">
                                <div id="jkoleftdiv">
                                    <div class="accordion" id="accordion1">
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" id="memberBtn">
                                                    會員管理
                                                </a>
                                            </div>
                                        </div>
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" id="videoBtn">
                                                    影片編輯管理
                                                </a>
                                            </div>
                                        </div>
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" id="editEp">
                                                    分集編輯管理
                                                </a>
                                            </div>
                                        </div>
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" id="createBtn">
                                                    新增影集資訊
                                                </a>
                                            </div>
                                        </div>
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" id="uploadBtn">
                                                    上傳分集
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span9 tableDiv">

                        <!-- 會員資訊 - 停權 -->
                        <table class="table table-striped" id="memberData">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>目前狀態</th>
                                    <th>停權</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $allMember as $member}
                                <tr>
                                    <td>{{$member@index+1}}</td>
                                    <td>{{$member.name}}</td>
                                    <td>{{$member.email}}</td>
                                    {if $member.permission === "1"}
                                    <td id="memStop{{$member.id}}">正常使用中</td>
                                    <td> <label class="switch">
                                            <button type="button" class="btn btn-danger" id="permission{{$member.id}}"
                                                onclick="stop('{{$member.id}}')">停權</button>
                                            {else}
                                    <td id="memRestore{{$member.id}}">停權中</td>
                                    <td> <label class="switch">
                                            <button type="button" class="btn btn-success" id="permission{{$member.id}}"
                                                onclick="restore('{{$member.id}}')">恢復</button>
                                            {/if}
                                            <span class="slider round"></span>
                                        </label></td>

                                </tr>
                                {/foreach}
                            </tbody>
                        </table>

                        <!-- 影集資訊編輯 - 上下架 -->
                        <table class="table table-striped" id="videoData">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>descript</th>
                                    <th>目前狀態</th>
                                    <th>編輯</th>
                                    <th>下架</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{foreach $allVideo as $video}}
                                <tr>
                                    <td>{{$video@index+1}}</td>
                                    <td id="newVname{{$video.id}}">{{$video.name}}</td>
                                    <td id="newVdes{{$video.id}}">{{$video.descript}}</td>
                                    <td class="onshelf" id="{{$video.id}}">編輯
                                    </td>
                                    {if $video.upload === "1"}
                                    <td>上架</td>
                                    <td> <label class="switch video">
                                            <button type="button" class="btn btn-danger down" id="shelf{{$video.id}}"
                                                onclick="down('{{$video.id}}')">下架</button>
                                            {else}
                                    <td>已下架</td>
                                    <td> <label class="switch video">
                                            <button type="button" class="btn btn-success up" id="shelf{{$video.id}}"
                                                onclick="up('{{$video.id}}')">上架</button>
                                            {/if}
                                            <span class="slider round"></span>
                                        </label></td>
                                </tr>
                                {{/foreach}}
                            </tbody>
                        </table>

                        <!-- 新增影集資訊 -->
                        <table class="table table-striped" id="newVideo">
                            <thead>
                                <tr>
                                    <th>新增影集資訊</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="span3">影集名稱</td>
                                    <td>
                                        <div id="fields">
                                            <form id="ajax-contact-form" class="form-horizontal">
                                                <div class="control-group">
                                                    <input class="span6" type="text" id="videoName" name="videoName"
                                                        placeholder="影集名">
                                                    <span class="videoName" id="errorName"></span>
                                                </div>
                                                <span class="name"></span>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span3">描述</td>
                                    <td>
                                        <div id="fields">
                                            <form id="ajax-contact-form" class="form-horizontal">
                                                <div class="control-group">
                                                    <textarea class="span6" rows="5" type="text" id="descriptV"
                                                        name="descript" placeholder="描述"></textarea>
                                                    <span class="descript" id="errordes"></span>
                                                </div>
                                                <span class="des"></span>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span3">上傳橫幅圖片</td>
                                    <td>
                                        <div id="fields">
                                            <form enctype="multipart/form-data">
                                                <input class="span4" type="file" id="imgInput1"
                                                    accept="image/gif, image/jpeg, image/png, image/jpg" />
                                                <div class="Img"><img id="showImg1" src="../images/icon.png" />
                                                </div>
                                                <span class="Img1"></span>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span3">上傳直幅圖片</td>
                                    <td>
                                        <form enctype="multipart/form-data">
                                            <input class="span4" type="file" id="imgInput2"
                                                accept="image/gif, image/jpeg, image/png, image/jpg" />
                                            <div class="Img"><img id="showImg2" src="../images/icon.png" />
                                            </div>
                                            <span class="Img2"></span>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <br>
                                        <button class="btn btn-primary btn-lg btn-block" data-toggle="button"
                                            id="newVideoBtn">確認</button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                        <!-- 上傳分集 -->
                        <table class="table table-striped" id="uploadEp">
                            <thead>
                                <tr>
                                    <th>上傳分集</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="span3">分集名稱</td>
                                    <td>
                                        <div id="fields">
                                            <form id="ajax-contact-form" class="form-horizontal">
                                                <div class="control-group">
                                                    第<input class="span1" type="text" id="epNum" name="epNum"
                                                        placeholder="輸入數字" maxlength=2>話
                                                    <input class="span5" type="text" id="epName" name="epName"
                                                        placeholder="該集名稱">
                                                </div>
                                                <span class="epNum span1" id="errorNum"></span>
                                                <span class="epName span2" id="errorName"></span>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span3">價錢</td>
                                    <td>
                                        <div id="fields">
                                            <form id="ajax-contact-form" class="form-horizontal">
                                                <div class="control-group">
                                                    <input class="span3" type="text" id="epPrice" name="epPrice"
                                                        placeholder="輸入數字" maxlength=3>
                                                </div>
                                                <span class="epPrice span1" id="errorPrice"></span>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span3">影集</td>
                                    <td>
                                        <div id="fields">
                                            <form class="form-horizontal">
                                                <select name="videoList" class="span6" id="selectVideo">
                                                    {{foreach $allVideo as $video}}
                                                    　<option value="{{$video.id}}">{{$video.name}}</option>
                                                    {{/foreach}}
                                                </select>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span3">上傳影片</td>
                                    <td>
                                        <div id="fields">
                                            <form enctype="multipart/form-data">
                                                <input class="span6" type="file" id="videoInput" accept="video/*"/>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <br>
                                        <button class="btn btn-primary btn-lg btn-block" id="uploadButton">確認</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- 各影片分集列表 -->
                        <div id="selectDiv">
                            <form class="form-horizontal">
                                <select name="epList" class="span6 epList" id="selectEp">
                                    {{foreach $allVideo as $video}}
                                    　<option id="option{{$video.id}}" value="{{$video.id}}">
                                        {{$video.name}}</option>
                                    {{/foreach}}
                                </select>
                            </form>
                        </div>

                        <table class="table table-striped epTable">
                            <thead>
                                <tr>
                                    <th>話</th>
                                    <th>Name</th>
                                    <th>price</th>
                                    <th>編輯</th>
                                </tr>
                            </thead>
                            {{foreach $test as $a}}
                            {{for $foo=0 to $a|count-1}}
                            <tbody class="epBody{{$a.$foo.videoId}} epBodytest">
                                <tr>
                                    <td id="newNo{{$a.$foo.no}}">{{$a.$foo.no}}</td>
                                    <td id="newName{{$a.$foo.no}}">{{$a.$foo.episode}}</td>
                                    <td id="newPrice{{$a.$foo.no}}">{{$a.$foo.price}}</td>
                                    <td class="epEdit" id="{{$a.$foo.id}}">點擊編輯</td>
                                </tr>
                            </tbody>
                            {{/for}}
                            {{/foreach}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 影片編輯（Modal） -->
    {{foreach $allVideo as $video }}
    <div class="modal fade myModal" id="myModal{{$video.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        data-toggle="modal" data-target="#myModal" aria-hidden="true">
        <div class="modal-dialog testMask">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改影片資訊
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped editModal" id="editModal{{$video.id}}">
                        <tbody>
                            <tr>
                                <td class="span3">影集名稱</td>
                                <td>
                                    <div>
                                        <form id="ajax-contact-form" class="form-horizontal">
                                            <div class="control-group">
                                                <input class="span6" type="text" id="editName{{$video.id}}"
                                                    name="editName" value="{{$video.name}}">
                                            </div>
                                            <span class="name"></span>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="span3">描述</td>
                                <td>
                                    <div id="fields">
                                        <form id="ajax-contact-form" class="form-horizontal">
                                            <span class="control-group">
                                                <textarea class="span6" rows="5" type="text"
                                                    id="editDescript{{$video.id}}"
                                                    name="descript">{{$video.descript}}</textarea>
                                        </form>
                                    </div>
                                    <span class="des"></span>

                                </td>
                            </tr>
                            <tr>
                                <td class="span3">上傳橫幅圖片</td>
                                <td>
                                    <div id="fields">
                                        <form enctype="multipart/form-data">
                                            <input class="span4 editImg1" type="file" id="editImg1{{$video.id}}"
                                                accept="image/gif, image/jpeg, image/png, image/jpg" />
                                            <div class="Img"><img id="showEditImg1{{$video.id}}"
                                                    src="{{$video.img1}}" />
                                            </div>
                                            <span class="Img1"></span>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="span3">上傳直幅圖片</td>
                                <td>
                                    <form enctype="multipart/form-data">
                                        <input class="span4 editImg2" type="file" id="editImg2{{$video.id}}"
                                            accept="image/gif, image/jpeg, image/png, image/jpg" />
                                        <div class="Img"><img id="showEditImg2{{$video.id}}" src="{{$video.img2}}" />
                                        </div>
                                        <span class="Img2"></span>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" id="modalFooter">
                    <button type="button" class="btn btn-primary editSubmit" id="editSubmit{{$video.id}}">
                        送出
                    </button>
                    <button type="button" class="btn btn-default editCancel" data-dismiss="myModal"
                        id="editCancel{{$video.id}}">取消
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/foreach}}
    <!-- /.modal -->

    <!-- Episode編輯（Modal） -->
    {{foreach $test as $a}}
    {{for $foo=0 to $a|count-1}}
    <div class="modal fade epModal" id="epModal{{$a.$foo.id}}" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" data-toggle="modal" data-target="#myModal" aria-hidden="true">
        <div class="modal-dialog testMask">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改影片資訊
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped editEpTable" id="editEpTable{{$a.$foo.id}}">
                        <tbody>
                            <tr>
                                <td class="span3">分集名稱</td>
                                <td>
                                    <div id="fields">
                                        <form id="ajax-contact-form" class="form-horizontal">
                                            <div class="control-group">
                                                第<input class="span1" type="text" id="epNum{{$a.$foo.id}}" name="epNum"
                                                    value="{{$a.$foo.no}}" maxlength=2>話
                                                <input class="span5" type="text" id="epName{{$a.$foo.id}}" name="epName"
                                                    value="{{$a.$foo.episode}}">
                                            </div>
                                            <!-- <span class="epNum span1" id="errorEditNum{{$a.$foo.id}}"></span>
                                            <span class="epName span2" id="errorEditName{{$a.$foo.id}}"></span> -->
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="span3">價錢</td>
                                <td>
                                    <div id="fields">
                                        <form id="ajax-contact-form" class="form-horizontal">
                                            <div class="control-group">
                                                <input class="span3" type="text" id="epPrice{{$a.$foo.id}}"
                                                    name="epPrice" value="{{$a.$foo.price}}" maxlength=3>
                                            </div>
                                            <!-- <span class="epPrice span1" id="errorEditPrice{{$a.$foo.id}}"></span> -->
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="span3">影集</td>
                                <td>
                                    <div id="fields">
                                        <span>{{$a.$foo.name}}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="span3">上傳影片</td>
                                <td>
                                    <div id="fields">
                                        <form enctype="multipart/form-data">
                                            <input class="span6" type="file" id="videoEdit{{$a.$foo.id}}"
                                             accept="video/*" />
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer modalFooter">
                    <button type="button" class="btn btn-primary editEpSubmit" id="editEpSubmit{{$a.$foo.id}}">
                        送出
                    </button>
                    <button type="button" class="btn btn-default editEpCancel" data-dismiss="epModal" id="editEpCancel{{$a.$foo.id}}">取消
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/for}}
    {{/foreach}}
    <!-- /.modal -->

</body>

</html>