<!DOCTYPE html>
<html lang="en">

<head>
    <title>CYTV Member Center</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="icon" href="../images/icon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <!-- <link href="../css/butStyle.css" rel="stylesheet"> -->

    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/bootstrap-responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/supersized.core.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="../css/switch.css" type="text/css" media="screen">
    <script src="../js/member_center.js"></script>
    <script src="../js/home.js"></script>
</head>

<body class="subpage">
    <div id="main">
        {include file="../templates/header.tpl"}
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="thumb9">
                            <div class="thumbnail clearfix">
                                <div id="jkoleftdiv">
                                    <div class="accordion" id="accordion1">
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" id="memberBtn">
                                                    儲值紀錄
                                                </a>
                                            </div>
                                        </div>
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" id="videoBtn">
                                                    影片購買紀錄
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span9 tableDiv">

                        <!-- 儲值紀錄 -->
                        <table class="table table-striped" id="memberData">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>消費金額</th>
                                    <th>點數</th>
                                    <th>購買時間</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{if isset($memberDeposit)}}
                                {{foreach $memberDeposit as $deposit}}
                                <tr>
                                    <td>{{$deposit@index+1}}</td>
                                    <td>{{$deposit.price}}</td>
                                    <td>{{$deposit.point}}</td>
                                    <td>{{$deposit.create_at}}</td>
                                </tr>
                                {{/foreach}}
                                {{/if}}
                            </tbody>
                        </table>

                        <!-- 影片購買紀錄 -->
                        <table class="table table-striped" id="videoData">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>片名</th>
                                    <th>Episode</th>
                                    <th>狀態</th>
                                    <th>購買時間</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{if isset($shopingList)}}
                                {{foreach $shopingList as $shop}}
                                <tr>
                                    <td>{{$shop@index+1}}</td>
                                    <td>{{$shop.name}}</td>
                                    <td>{{$shop.episode}}</td>
                                    {{if $shop.upload === 1}}
                                    <td class="onshelf" id="{{$shop.id}}">點擊觀看</td>
                                    {{else}}
                                    <td class="offshelf">已下架</td>
                                    {{/if}}
                                    <td>{{$shop.create_at}}</td>
                                </tr>
                                {{/foreach}}
                            </tbody>
                        </table>
                    </div>
                    {foreach $shopingList as $shop}
                    <div class="modal hide" id="Modal{{$shop.id}}" role="dialog">
                        <video class="video" width="100%" height="100%" controls>
                            <source src="../video/{{$shop.url}}" type="video/mp4">
                        </video>
                    </div>
                    {/foreach}
                    {{/if}}
                </div>
            </div>
        </div>

</body>

</html>