<!DOCTYPE html>
<html lang="en">

<head>
    <title>CYTV</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="icon" href="../images/icon.ico" type="image/x-icon">
    <!-- <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" /> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/bootstrap-responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/supersized.core.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen">
    <!-- <link rel="stylesheet" href="../css/touchTouch.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/isotope.css" type="text/css" media="screen"> -->
    <script type="text/javascript" src="../js/touchTouch.jquery.js"></script>
    <script type="text/javascript" src="../js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
</head>

<body class="subpage">
    <div id="main">
        <header>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="header_inner clearfix">
                            <div class="top1"><a href="../backend/home_index.php"
                                    class="logo">C&emsp;Y&emsp;<span>T&emsp;V</span></a>
                            </div>
                            <div class="top2">
                                <div class="menu_top">
                                    <ul id="menu_top" class="clearfix">
                                        <li><a href="#">Log out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h1 class="text-center">NO&emsp;GAME&emsp;NO&emsp;LIFE</h1>
                        <div class="thumb6">
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="../images/thumb-1920-512323.jpg" alt=""></figure>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="span12">
                <div class="line1"></div>
                <h1>Details</h1>

                <div class="thumb2">
                    <div class="thumbnail clearfix">
                        <div class="caption">
                            <h4>
                                空與白既是尼特族又是家裡蹲，但是在網路上卻是被奉為都市傳說的天才遊戲玩家兄妹。
                                稱呼現實世界為「垃圾遊戲」的兩人，某一天被自稱是「神」的少年——特圖召喚至棋盤上的世界「迪司博德」，
                                那是個戰爭為神所禁止，「遊戲決定一切」的世界，甚至連國界也一樣。
                                被其他種族逼至絕境，只剩下最後都市——「艾爾奇亞」的「人類種」，空與白利用自己的才智以及策略，
                                在通過遊戲取得艾爾奇亞王的地位後，僅用短短幾個月就成功將艾爾奇亞從生死邊緣反轉為世界第二大國。
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="line1"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h1>Episodes</h1>
                        <ul class="thumbnails" id="isotope-items">
                            <li class="span4 isotope-element isotope-filter1">
                                <img src="../images/007.jpg" data-toggle="modal" data-target="#myModal" alt=""><em></em>
                                <div class="caption">
                                    <h5>
                                        第一話&emsp;ゲーマー兄妹がファンタジー世界を征服するそうです
                                    </h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <!-- <h4 class="modal-title">Modal Header</h4> -->
                        </div>
                        <div class="modal-body">
                            <iframe width="800" height="500" src="../video/test.mp4" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <footer class="clearfix">
                        <div class="copyright">
                            Copyright © 2013.All rights reserved.
                        </div>
                    </footer>

                </div>
            </div>
        </div>

    </div>
    <!-- <script type="text/javascript" src="js/bootstrap.js"></script> -->
</body>

</html>