<!DOCTYPE html>
<html lang="en">

<head>
    <title>CYTV</title>
    <meta charset="utf-8">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="icon" href="../images/icon.ico" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/bootstrap-responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/supersized.core.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen">
    <script src="../js/videoPage.js"></script>
    <script src="../js/home.js"></script>
</head>

<body class="subpage">
    <div id="main">
        {include file="../templates/header.tpl"}
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h1 class="text-center">{{$videoName}}</h1>
                        <div class="thumb6">
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="{{$videoImg1}}" alt=""></figure>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="span12">
                <div class="line1"></div>
                <h1>Details</h1>
                <div class="thumb2">
                    <div class="thumbnail clearfix">
                        <div class="caption">
                            <h4>{{$videoDes}}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="line1"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>Episodes</h1>
                    <ul class="thumbnails" id="isotope-items">
                        {foreach $episodes as $value}
                        <li class="span4 isotope-element isotope-filter1">
                            {if $value.isbuy === true}
                            <img src="{{$videoImg1}}" alt="" onclick="watchVideo('{{$value.id}}')">
                            <h5>{{$value.episode}}</h5>
                            <h3 class="isbuy">已購買</h3>
                            {else}
                            {if $value.price > $memberWallet}
                            <img src="{{$videoImg1}}" alt="" onclick="noMoney()">
                            <h5>{{$value.episode}}</h5>
                            <h3 class="isbuy">${{$value.price}}</h3>
                            {else}
                            <img src="{{$videoImg1}}" alt="" onclick="buyVideo('{{$value.id}}')">
                            <h5>{{$value.episode}}</h5>
                            <h3 class="isbuy" id=isbuy{{$value.id}}>${{$value.price}}</h3>
                            {/if}
                            {/if}
                            <div class="caption">
                            </div>
                        </li>
                        {/foreach}
                    </ul>
                    {foreach $episodes as $value}
                    <div class="modal hide" id="myModal{{$value.id}}" role="dialog">
                        <video class="video" width="100%" height="100%" controls>
                            <source src="../video/{{$value.url}}" type="video/mp4">
                        </video>
                    </div>
                    {/foreach}
                </div>

            </div>
        </div>
        {include file="../templates/footer.tpl"}


</body>

</html>